.Minesweeper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.Minesweeper-tilesContainer {
  display: grid;
  flex-grow: 1;
}
.Minesweeper-tile {
  border-radius: 0.5rem;
  border: 0.1rem solid darkcyan;
  background-color: cyan;
}
.Minesweeper-tile.clicked {
  background-color: white;
}
